// .container {
//     width: 100%;
//     margin-top: 60px;
//     border: 1px solid black;

//     .container_admin {
//         .container_admin_text {
//             border-bottom: 1px solid black;
//             padding: 10px;
//             text-align: center;
//             font-size: 30px;
//             font-weight: bold;
//         }

//         .container_manager {
//             display: flex;
//             margin-top: 20px;
//             margin-bottom: 20px;

//             >div {
//                 &:first-child {

//                     flex: 0.3;
//                     padding: 20px;
//                     background-color: #f0f0f0;

//                     ul {
//                         list-style: none;
//                         padding: 0;

//                         li {
//                             padding: 10px 0;
//                             font-weight: bold;
//                             cursor: pointer;

//                             &:hover {
//                                 color: #ee1f29;
//                             }
//                         }
//                     }
//                 }

//                 &:last-child {
//                     flex: 3;
//                     padding: 20px;
//                     background-color: #ffffff;
//                 }
//             }
//         }
//     }
// }
.container {
    display: flex;
    margin-top: 30px;
    height: 900px;
    max-width: 2000px;

    .container_title {
        flex: 0.7;
        color: #e0e0e0;
        background-color: #09457e;
        color: #fff;
        padding: 10px;

        .addmin {
            h1 {
                font-size: 24px;
                margin-left: 15px;
            }

        }

        .Manager {
            align-items: center;
            margin-top: 20px;

            .dropdown {
                position: relative;

                button {
                    color: #fff;
                    padding: 10px 20px;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        color: #ca1ce1;
                    }
                }

                .dropdown-menu {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    display: none;
                    background-color: #fff;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                    z-index: 1;

                    .dropdown-item {
                        display: block;
                        padding: 10px;
                        text-decoration: none;
                        color: #333;

                        &:hover {
                            background-color: #f0f0f0;
                        }
                    }
                }

                &:hover {
                    .dropdown-menu {
                        display: block;
                    }
                }
            }
        }
    }

    .container_content {
        flex: 3;
        background-color: #bbcbe8;
        padding: 20px;

        .container_content_search {
            input[type="text"] {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }
        }

        .container_content_manager {
            margin-top: 20px;
            position: relative;
        }
    }
}